<!DOCTYPE html>

{% load static %}
{% load my_templatetag %}
<html lang="en">
<head>
 
    <link rel="stylesheet" href="{% static "ExamManagement/assets/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "ExamManagement/assets/bootstrap/css/custom.css" %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  
    <title>Online Assessment System</title>
</head>
<body>
      <section>
        <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
            <div class="container"><a class="navbar-brand logo" href="/"
                                      style="font-size: 35px;font-family: Lato, sans-serif;">Blogging Corner</a>
                 <button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span
                        class="navbar-toggler-icon"></span></button>
                <div
                        class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav ml-auto">
                        {% if user.is_authenticated %}

                        <a class="nav-item nav-link" href="{% url 'blog' %}"> Home </a>
                        <a class="nav-item nav-link" href="{% url 'blog-post-create' %}">Create New Post </a>
                        <a class="nav-item nav-link" href="/profile"> Profile </a>
                        {% endif %} 
                        <div class="nav-item nav-link">
                            
                                <form class="form-inline mr-4" method="GET" action="">
                                    <input class="form-control mr-sm-2" name="q" type="search" placeholder="search posts" aria-label="Search" value="{{ request.GET.q }}">
                                     <input type="submit" value="Search" style="font-size: 35px class="btn btn-outline-white btn-md my-0 ml-sm-2">
                                </form>
                               
                     </div>
                                       
                 </div>
                        
                    </ul>
                </div>
        </nav>
    </section>
    </header>
</div>
<br>
<br>

    <main role="main" class="container" style="min-height:100vh">
      <div class="row py-5 my-4">
        <div class="col-md-8">
<!--                check if any messages -->
            {% if messages %}
             <div class="container">
            <div class="row">
                <div class="col-md-10 ml-5">
<!--            if messages looop thru it-->
                {% for message in messages %}

                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
                </div>
            </div>
             </div>
            {% endif %}

          {% block content %}
            {% endblock %}


        </div>
        {% if 'login/' in request.path or 'register/' in request.path or 'logout/' in request.path %}
          <div class="col-md-4 py-4 d-none">
              {% sidebar_results %}
          </div>
          {% else %}
            <div class="col-md-4 py-4">
              {% sidebar_results %}
            </div>
          {% endif %}
      </div>
    </main>

       <footer id="footer-page" style="position:fixed;bottom:0;width:100%">
           <div class="bg-info p-3">
               <p class="text-center text-white">&copy;

<!--                   dynamic year -->
                   <script type="text/javascript">
                        document.write(new Date().getFullYear());
                    </script>
                   Blogging Corner
                   </p>

           </div>
       </footer>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

</body>
</html>
